.App {
  position: relative;
  height: 100vh;
  width: 100%;
  background: white;
  overflow-x: hidden;
}

.app__navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background: black;
  height: 10vh;
  width: 100%;
}

span {
  color: red;
}

.app__controls__counter {
  top: 50px;
  left: 30px;
  margin-left: 30px;
}

.app__controls__delete {
  top: 50px;
  right: 30px;
  margin-left: 30px;
}

.btn__delete__all {
  font-size: 18px;
  background: red;
  color: white;
  padding: 5px;
  outline: none;
  text-align: center;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}

.app__controls {
  width: 50%;
  height: 150px;
  margin: 50px auto;
}

.app__controls__inputs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.app__controls__inputs input {
  padding: 5px;
  margin: 10px auto;
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.app__controls__inputs button {
  padding: 5px;
  width: 25%;
  text-align: center;
  color: white;
  background: red;
  margin: 10px auto;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}

.app__meals__container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app__meals__container__wrapper {
  height: auto;
  width: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app__meals__container__wrapper__inner {
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0;
  padding: 5px;
  font-size: 18px;
  font-weight: 800;
  border-radius: 5px;
}

.btn__delete__meal {
  padding: 5px;
  outline: none;
  text-align: center;
  color: white;
  background: red;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}